<h1>Editing script_vote</h1>

<% form_for(@script_vote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @script_vote %> |
<%= link_to 'Back', script_votes_path %>