<p>
  <b>Speed mbps:</b>
  <%=h @network.speed_mbps %>
</p>

<p>
  <b>Type:</b>
  <%=h @network.type %>
</p>


<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
