<h1>About CrowdTest</h1>

<p>Website developed by Andrew Shu.</p>

<p>Website design by Andrew Shu and Ed Huang.</p>

<p>A project for Enterprise IT Transformation at Columbia University in Fall 2010.</p>

<h2>Acknowledgements</h2>

Project mentors: Maja Vukovic and Jim Laredo (IBM Research).
