<h1>Contact Us</h1>

<h2>Project members</h2>
<ul>
  <li>Andrew Shu - <%= mail_to 'ans2120@columbia.edu' %></li>
  <li>Ed Huang - <%= mail_to 'eh2470@columbia.edu' %></li>
</ul>

<h2>Mentors</h2>
<ul>
  <li>Maja Vukovic - <%= mail_to 'maja@us.ibm.com' %></li>
  <li>Jim Laredo - <%= mail_to 'laredoj@us.ibm.com' %></li>
</ul>

