<h1>Editing test_output_vote</h1>

<% form_for(@test_output_vote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @test_output_vote %> |
<%= link_to 'Back', test_output_votes_path %>