<h1>Editing tag_task</h1>

<% form_for(@tag_task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tag_task %> |
<%= link_to 'Back', tag_tasks_path %>