<h1>Listing tag_tasks</h1>

<table>
  <tr>
  </tr>

<% @tag_tasks.each do |tag_task| %>
  <tr>
    <td><%= link_to 'Show', tag_task %></td>
    <td><%= link_to 'Edit', edit_tag_task_path(tag_task) %></td>
    <td><%= link_to 'Destroy', tag_task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tag_task', new_tag_task_path %>